<div class="container">
    <%= simple_form_for @cocktail do |f| %>
      <%= f.input :name%>
      <%= f.submit class: 'btn btn-primary' %>
    <% end %>
  <%= link_to "Home", cocktails_path  %>
</div>


<footer class="footer text-center text-lg-start">
  <div class="text-center p-3">
    <i class="fas fa-glass-martini-alt"></i>
    <a>Cocktail King</a>
  </div>
</footer>