.banner {
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.5)), url(bar.jpg);
    padding: 150px 0;
    height: 880px;
}
  
.banner h1 {
    margin: 0;
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-size: 64px;
    font-family: 'Special Elite', cursive;
}

.banner h2 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 34px;
}
  
.banner p {
    font-size: 20px;
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    opacity: 90%;
    margin-left: 8px;
}

.banner-new {
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.5)), url(bar.jpg);
    padding: 150px 0;
    height: 980px;
}

.banner-show {
  background-size: cover;
 
  background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.4)), url(bar.jpg);
  padding: 100px;
  height: 200px;
}


.banner-show h1 {
    margin: 0;
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-size: 64px;
    position: absolute;
    bottom: -100px;
    font-family: 'Special Elite', cursive;

}
