.slider {
    -webkit-appearance: none;
    width: 300px;
    margin: auto;
    height: 15px;
    border-radius: 5px;  
    background: #d3d3d3;
    outline: none;
    opacity: 0.8;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }

  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #2a9d8f;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #2a9d8f;
    cursor: pointer;
  }

  .slider-left-1 {
    position: absolute;
    top: 160px;
    left: 30px;

  }

  .slider-left-2 {
    position: absolute;
    top: 260px;
    left: 31px;
  }

  .slider-right-1 {
    position: absolute;
    top: 160px;
    right: 36px;
  }

  .slider-right-2 {
    position: absolute;
    top: 260px;
    right: 36px;
  }

  .slider-left-1 p{
    font-family: 'Special Elite', cursive;

  }

  .slider-left-2 p{
    font-family: 'Special Elite', cursive;
  }

  .slider-right-1 p{
    font-family: 'Special Elite', cursive;
  }

  .slider-right-2 p{
    font-family: 'Special Elite', cursive;
  }



  @media only screen and (max-width: 600px) {
    .slider {
        width: 200px;
    }
  }

